/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
 background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
 position: relative;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  /* overflow-y: hidden; */
}

#root {
  display: flex;
  height: 100%;
}